# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.expo
.expo-shared
.dist
web-build
server/node_modules
server/dist

*.local
.env
.env.development
.env.production
.env.test
!.env.example
server/.env
!server/.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
